/* GENERAL */

body {
    background-image: url("../IMG/background-image.jpg");
    background-attachment: fixed;
    background-size: contain;
    margin: 0px;
}

#contenu-site {
    padding: 0px 0px 20px 0px;
}

.text {
    padding: 30px 0px 30px 0px;
}

.btn-acc {
    padding: 30px 0px 30px 0px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', Arial, sans-serif;
    font-display: swap;
}

textarea {
    font-family: 'Quicksand', Arial, sans-serif;
    font-display: swap;
}



/* OPTION CSS */

.text1 {
    font-size: 16px;
}

.text2 {
    font-size: 18px;
}

.text3 {
    font-size: 22px;
}

.text4 {
    font-size: 24px;
}

.text5 {
    font-size: 26px;
}

.text6 {
    font-size: 30px;
}

.text7 {
    font-size: 32px;
}

.text8 {
    font-size: 36px;
}

.text9 {
    font-size: 40px;
}

.gras {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.soulignes {
    text-decoration: underline;
}

.nosoulignes {
    text-decoration: none;
}

.police {
    font-family: 'Quicksand', Arial, sans-serif;
    font-display: swap;
}

.noir {
    color: black;
}

.blanc {
    color: white;
}

.gris {
    color: gray;
}

.bleu {
    color: blue;
}

.rouge {
    color: red;
}

.eau {
    color: aqua;
}

.fuchia {
    color: fuchsia;
}

.vert {
    color: green;
}

.citron {
    color: lime;
}

.maron {
    color: maroon;
}

.marine {
    color: navy;
}

.olive {
    color: olive;
}

.pourpre {
    color: purple;
}

.argent {
    color: silver;
}

.sarcelle {
    color: teal;
}

.jaune {
    color: yellow;
}

.rose {
    color: pink;
}

.color_text {
    color: #3498DB;
}

.color_text_clair {
    color: #85C1E9;
}

.maj {
    text-transform: uppercase;
}

.min {
    text-transform: lowercase;
}



/* HEADER */

header {
    margin-bottom: 190px;
    padding-top: 15px;
    padding-bottom: 20px;
    width: 100%;
}

p.titre-site {
    font-family: 'Quicksand', Arial, sans-serif;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

img.nav-icon {
    width: 50px;
    height: 50px;
}

nav.menu-nav ul {
    padding: 0;
}

nav.menu-nav ul li.btn {
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

nav.menu-nav ul li.btn a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-display: swap;
    font-size: 16px;
}

nav.menu-nav ul li.btn a:hover {
    text-decoration: none;
    opacity: 0.6;
    font-display: swap;
    transition: 0.5s all;
    font-size: 16px;
}



/* ACCUEIL */

section.accueil {
    margin-top: 150px;
    padding-bottom: 10px;
}

/* INFO et RESSOURCES */

#contenu-site h2 {
    margin: 5%;
    text-align: center;
    font-size: max(4vw, 20px);
}

.boxcards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    border: solid 1px #f4f6f7;
    border-radius: 10px;
    background-color: #041729;
}

.boxcards a img {
    width: 90%;
}

.boxcards h3 {
    color: white;
    margin: 5%;
}

.boxcards p {
    color: #cacdd1;
    padding: 5%;
    text-align: left;
}

/* RESSOURCES SEULEMENT */

.menupage li a {
    text-decoration: none;
    color: #e4e9ed;
    font-size: 0.5rem;
}

.menupage ul {
    padding-inline-start: 0;
    text-align: center;
    background-color: #2c82c9;
    font-family: 'Quicksand', Arial, sans-serif;
    margin: 5%;
    border-radius: 10px;
    list-style-type: none;
    border: solid 1px #e4e9ed;
}

.menupage p {
    margin: 0px;
}

.essaibox {
    margin: 5%;
    border: solid 1px #e4e9ed;
    border-radius: 10px;
    background-color: #043b5c;

}

.carte {

    border: 0.3px solid #fffc7f;
    border-radius: 10px;
    margin: 10px 8px;
    padding: 15px;
    background-color: #2c82c9;
    /* grid-area: main; */

}

.carte a {
    width: 50%;
    text-decoration: none;
}

.carte img {
    border: 0.5px solid #2c82c9;
    border-radius: 10px;
    width: 99%;
}

.txtimg {
    font-size: 0.5rem;
    color: #85C1E9;
}

.essaibox h3 {
    font-size: 0.7rem;
    color: #85C1E9;
    text-align: center;
    margin: 5%;
}

.cartereseaux {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* .cartereseaux a {
    text-decoration: none;
}

.fa-brands {
    text-decoration: none;
}

.fa-twitter .fa-flickr .fa-facebook .fa-instagram {
    text-decoration: none;
} */


@media screen and (min-width: 400px) {
    .essaibox {
        margin: 5%;
        border: solid 1px #e4e9ed;
        border-radius: 10px;
        background-color: #043b5c;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .essaibox h3 {
        grid-column: 1 / -1;
    }

    .carte img:hover {
        -webkit-transform: scale(1.1);
        /* Safari et Chrome */
        -moz-transform: scale(1.1);
        /* Firefox */
        -ms-transform: scale(1.1);
        /* Internet Explorer 9 */
        -o-transform: scale(1.1);
        /* Opera */
        transform: scale(1.1);
    }

    .reseauxsociaux h3 {
        margin: 5px;
    }

    .menupage ul {
        padding-inline-start: 0;
        text-align: center;
        background-color: #2c82c9;
        font-family: 'Quicksand', Arial, sans-serif;
        margin: 5%;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        padding: 10px;
        border: solid 1px #e4e9ed;

    }

    .menupage li {
        text-decoration: none;
        color: #e4e9ed;
        font-size: 0.5rem;
        align-items: center;
    }

    .menupage li a:hover {
        color: #043b5c;
    }

    .carte p:hover {
        color: #043b5c
    }

    .menupage p {
        display: none;
    }

}

/* FOOTER */

footer {
    margin-top: 50px;
    padding: 20px 10px 20px 10px;
}

div#pied-site div {
    margin-bottom: 40px;
}



/* RESPONSIVE */

@media all and (min-width: 1000px) {

    /* OPTION CSS */

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    label {
        font-family: 'Arial', sans-serif;
    }

    .text1 {
        font-size: 20px;
    }

    .text2 {
        font-size: 24px;
    }

    .text4 {
        font-size: 28px;
    }

    .text5 {
        font-size: 30px;
    }

    .text6 {
        font-size: 32px;
    }

    .text7 {
        font-size: 34px;
    }

    .text8 {
        font-size: 36px;
    }

    .text9 {
        font-size: 38px;
    }

    .text10 {
        font-size: 40px;
    }



    /* GENERAL */

    header {
        margin-bottom: 190px;
        padding-top: 30px;
        padding-bottom: 20px;
        width: 100%;
    }

    div#tete-site {
        display: flex;
    }

    div#tete-site div.titre-site {
        width: 50%;
    }

    div#tete-site nav.menu-nav {
        margin-left: 0px;
        margin-right: 0px;
        width: 50%;
        padding-right: 30px;
    }

    p.titre-site {
        text-align: left;
        margin-left: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    nav.menu-nav ul li.btn {
        list-style-type: none;
        display: inline-block;
    }

    nav.menu-nav ul li.btn a {
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Quicksand', Arial, sans-serif;
        font-display: swap;
        font-size: 16px;
    }

    nav.menu-nav ul li.btn a:hover {
        text-decoration: none;
        opacity: 0.6;
        font-family: 'Quicksand', Arial, sans-serif;
        font-display: swap;
        transition: 0.5s all;
        font-size: 16px;
    }

    div.pied-site {
        height: 250px;
    }

    div.accueilcontent {
        margin-top: 220px;
        margin-left: auto;
        margin-right: auto;
    }

    div.accueilcontent div {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    div.accueilcontent h1,
    p {
        text-align: center;
    }

    div#tete-site div.titre-site {
        margin-top: auto;
    }

    div#tete-site nav.menu-nav {
        margin-left: 0px;
    }

    nav.menu-nav ul {
        padding-left: 0px;
    }

    div.copyright p {
        height: 28px;
    }

    a.menu-acc {
        font-size: 25px;
    }

    a.menu-acc:hover {
        font-size: 25px;
    }

    a.btn-acc {
        font-size: 30px;
        border-radius: 100px;
    }

}



/* SCROLL ANIMATION */

.reveal-loaded .reveal [class*="reveal-"] {
    opacity: 0 !important;
    animation: none !important;
    transition: 0s !important;
}

.reveal-loaded [class*="reveal-"] {
    animation: revealAnimation 1s cubic-bezier(.5, 0, 0, 1) both;
}

.reveal-loaded .reveal-2 {
    animation-delay: .1s;
}

.reveal-loaded .reveal-3 {
    animation-delay: .2s;
}

.reveal-loaded .reveal-4 {
    animation-delay: .3s;
}

@media (prefers-reduced-motion: reduce) {
    .reveal-loaded [class*="reveal-"] {
        animation: none !important;
    }
}

@keyframes revealAnimation {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}



/* SCROLLBAR */

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #E5E7E9;
}

body::-webkit-scrollbar-thumb {
    background-color: #3498DB;
    border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
    transition: 1.5s;
    background-color: #345CDB;
    border-radius: 15px;
    cursor: pointer;
}



/* AUTOTEXT */

.autotext {
    width: fit-content;
    border-right: 0.15em solid #3498DB;
    letter-spacing: 0.05em;
    animation: blink 0.75s step-end infinite;
}

@keyframes blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #3498DB;
    }
}



/* TEXT SOULIGN */

.text_soulign {
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    background-color: #2C3E50;
}